<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>XEM NGAY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{movie.name}}</h2>
            <img src="{{movie.image}}" alt="" />
            <p>{{movie.description}}</p>
        </div>
    </div>
</div>