h1 {
  color: blue; }

.card-movie-item {
  margin-top: 16px; }

.user-avt {
  width: 28px;
  height: 28px;
  border-radius: 99999999999999px;
  object-fit: cover;
  margin-right: 4px; }

.title-list-movie,
.title-list-trash {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.list-movie--right,
.list-trash--right {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; }
  .list-movie--right span,
  .list-trash--right span {
    margin-left: 8px; }
  .list-movie--right .list-movie__trash,
  .list-movie--right .list-trash__list,
  .list-trash--right .list-movie__trash,
  .list-trash--right .list-trash__list {
    color: #000;
    font-size: 26px; }

.trash-icon-wrap {
  position: relative; }

.quantity-trash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #fff; }
